<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="A free tool to run some statistics on your crypto portfolio" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Crypto Portfolio Optimization</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body>
  <header>
    <nav class="move">
      <ul>
        <span>
          <li>Instructions</li>
        </span>
        <span>
          <li>Tool</li>
        </span>
        <span>
          <li>About</li>
        </span>
        </span>
      </ul>
      <h1>CMPORT</h1>
    </nav>
  </header>
  <section>
    <h1>CMPORT</h1>
  </section>
  <hr />
  <section>
    <h3>Instructions</h3>
    <p>
      This is a tool that applies Modern Portfolio Theory to cryptocurrencies.
      To use it, input the cryptocurrencies you'd like to invest in as a
      coma-separated list of tickers and input the amount of previous days
      (including today) you'd like to gather the financial data from.
      Afterwards, press the submit button to run a statistical analysis on the
      data and get the results back.
    </p>
  </section>
  <br>

  <section>
    <label> List of tickers </label>
    <br />
    <input type="text" name="tickers" id="tickers" placeholder="BTC,ETH,ADA" />
    <br />
    <label> Days </label>
    <br />
    <input type="number" name="days" id="days" placeholder="365" />
    <br />
    <button id="btn" name= "run">Run</button>

    <div class="inputErrrors" id="err">
      <p id="underC" >Please provide more than one crypto</p>
      <p id="overD">Data for that many days does not exist</p>
    </div>

    <br>
    <br>
    <img src="http://i.stack.imgur.com/FhHRx.gif" id="loading" width="20" style="display: none"/>
  
  <div id="stats" style="display: none">
  <h3 > Investment Distribution </h3>
  <div id="final"></div>
  <br>
  <h3 > Correlation Matrix </h3>
  <div id="corr"></div>
  <br>
  <h3 > Covariance Matrix </h3>
  <div id="cov"></div>
  <br>
  <h3 > Average daily returns </h3>
  <div id="mu_df"></div>
  <br>
  <h3 > Efficient Frontier </h3>
  <br>
 

  <div id="fig">
    
    </div>
  </section>

  <a href="https://holderlab.io/landing-plans/">Other Paid Services</a>
  <br>
  <br>
  <br>
  <br>
  <br>

  <br>
  <br>
  <br>
  <br>
  <br> <br>
  <br>
  <br>
  <br>
  <br> <br>
  <br>
  <br>
  <br>
  <br> <br>
  <br>
  <br>
  <br>
  <br> <br>
  <br>
  <br>
  <br>
  <br>
  <footer>
    Contact
  </footer>
</body>

</html>