<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A free tool to run some statistics on your crypto portfolio"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Crypto Portfolio Optimization</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <nav class="move">
        <ul>
          <span><li>Instructions</li></span>
          <span><li>Tool</li></span>
          <span><li>About</li></span>
          </span>
        </ul>
        <h1>CMPORT</h1>
      </nav>
    </header>
<section>
          <h1>CMPORT</h1>
</section>
    <hr />
    <section>
      <h3>Instructions</h3>
      <p>
        This is a tool that applies Modern Portfolio Theory to cryptocurrencies.
        To use it, input the cryptocurrencies you'd like to invest in as a
        coma-separated list of tickers and input the amount of previous days
        (including today) you'd like to gather the financial data from.
        Afterwards, press the submit button to run a statistical analysis on the
        data and get the results back.
      </p>
    </section>

    <form>
      <label> List of tickers </label>
      <br />
      <input type="text" placeholder="BTC,ETH,ADA" />
      <br />
      <label> Days </label>
      <br />
      <input type="text" placeholder="365" />
      <br />
      <button type="submit">Run</button>
    </form>

    <script src="index.js"></script>
    <a href="https://holderlab.io/landing-plans/">Other Paid Services</a>


    <br>
    <br>
    <br>
    <br>
    <br>

     <br>
    <br>
    <br>
    <br>
    <br> <br>
    <br>
    <br>
    <br>
    <br> <br>
    <br>
    <br>
    <br>
    <br> <br>
    <br>
    <br>
    <br>
    <br> <br>
    <br>
    <br>
    <br>
    <br>
    <footer>
      Contact
    </footer>
  </body>
</html>
